@import 'imports/vars.scss';

.widget-area.small-area {
   
    width: 310px;
    position: relative;

    @media screen and (max-width: 1024px) { display: none; }

    img { display: block;}

	.widget { 

	 background-color: rgba(182, 219, 255, 0.15); 
	 margin: 28px 0;
	 
	}

	.largepicture-block {
	   
	    .wrapper-block {
	    
		    width: 230px;
		    padding-top: 38px;

		    &:first-child { padding-top: 30px; }

		   img { height: 128px; }

			.link-page {
			   
			    line-height: 1.43;
			    background-color: $color-white;
				border: 0;
			    color: $color2; 
			    padding: 15px 20px;

			    &:before {

					content: "";
				    left: 20px;
				    top: -19px; 
				    border: 10px solid transparent; 
				    border-bottom: 10px solid $color-white;
			    } 

			    &:hover { color: $color; }
			}
		}
	}
}

.asadvert-aside {
    
    width: 100%;
    height: 446px;

   	img { margin: 0 auto;}
}

.top-buttom {
    
    background: url(/images/up.svg) no-repeat center;
    background-size: contain;
    width: 70px;
    height: 70px;
    position: absolute;
    right: -80px;
    cursor: pointer;
    transition: 1s;
    z-index: 10;

    &:hover { opacity: 0.8;}
}
