@import 'imports/vars.scss';

aside.widget-area {
   
    width: 310px;
    position: relative;

    @media screen and (max-width: 1024px) { display: none; }

    img { display: block;}

	.widget { 

	 background-color: rgba(182, 219, 255, 0.15); 
	 margin: 28px 0;
	 
	}

	.largepicture-block {
	   
	    .wrapper-block {
	    
		    width: 230px;
		    padding-top: 38px;

		    &:first-child { padding-top: 30px; }

		    .largepicture { height: 128px; }

			.link-page {
			   
			    line-height: 1.43;
			    background-color: $color-white;
				border: 0;
			    color: $color2; 
			    padding: 15px 20px;

			    &:before {

					content: "";
				    left: 20px;
				    top: -19px; 
				    border: 10px solid transparent; 
				    border-bottom: 10px solid $color-white;
			    } 

			    &:hover { color: $color; }
			}
		}
	}

	.short-items { margin-bottom: 30px;

		.row-item {

		    border-bottom: 1px solid rgba(182, 219, 255, 0.15);
		    padding: 20px 20px 16px;
		}

		.content-item {

			display: block;
		    font: 16px/1 $font-serif;
		    color: $color2;
		    column-width: 210px;
			max-height: 50px;
			overflow: hidden;
		}

		.wrapp-link {

	   		line-height: 10px;
	        padding-top: 4px;
		}

		.location, .link-item {
		  
		  display: inline-block;
		  font: 14px/1.14 $font-serif;
		  color: rgba(59, 92, 123, 0.7);
		}

		.location:after {

			content: "\f105";
			display: inline-block;
			font-family: $icomoon;
			font-size: 12px;
		  	color: $color;
		  	padding: 0px 4px 0px;
			vertical-align: middle;
		}

		.link-item { display: inline;

			&:hover { color: rgba(0, 142, 206, 0.7);}
		}

	}

}

.asadvert-aside {
    
    width: 100%;
    height: 446px;

   	img { margin: 0 auto;}
}
