@import 'imports/vars.scss';
@import 'imports/ul.scss';
@import 'imports/contents-wrap.scss';
@import 'imports/contents-wrap.scss';
@import 'imports/pictures-position.scss';

.wrapper-content { 

	width: 700px;
	padding-top: 25px;

	 a {

	    color: $color;
	    text-decoration: underline;
	    
	    &:hover { 
	        
	        color: #5d76b9;
	        text-decoration: none;
	    } 
	}

	p {
	  
	  font: 16px/1.75 $font-sans;
	  color: $color2; 
	}

	.similar-articles {

	    background-color: rgba(182, 219, 255, 0.15);
	    margin: 20px 0;
	    padding: 20px 20px 20px 0;

	    .widgettitle {

		    min-height: 50px;
		    background-color: $color;
		    color: $color-white;   

		    &:after { content: ""; }
	}

    .smallpicture-block .wrapper-block {
    	
    	flex-basis: calc(100%/2 - 20px);
    	border-bottom: 0;
    	align-items: self-start;
    	margin: 20px 0 0 20px;
    	padding-bottom: 0px;

	    	img { 

		    	width: 70px;
		 		height: 70px;
			}

			.link-page {
				  
				font-size: 14px;
	 			max-height: 73px;
	 			color: rgba(59, 92, 123, 0.8);
	 			text-decoration: none;

	 			&:hover { color: $color2; }
			}
    	}
	}
}

.table-block {

	font-size: 16px;
	line-height: 20px;
	margin: 15px 0;

	@media screen and (max-width: 1024px) { overflow: auto; }
	
	table { 

	    border-collapse: collapse;
	    width: 100%;

	    thead tr td {

			
			background-color: $color;
			font: 14px/1.71  $font-sans;
			color: $color-white;
			padding: 14px 19px
		}

		td {

			border: 1px solid #b6dbff;
		 	padding: 10px;
		 }
	
		

		td {

			font: 14px/1.43  $font-sans;
			color: $color2;

		}

		tr:nth-child(odd) { background: rgba(0, 142, 206, 0.1); }
	}
}

.vnimanie {

   display: flex;
   align-items: center;
   border: solid 1px rgba(0, 142, 206, 0.15);
   margin: 25px 0;

    &:before {

		content: "";
        width: 140px;
        height: 140px;
        background: url(/images/bv_osnovnoi.png) no-repeat top;
        background-size: cover;

        @media screen and (max-width: 1023px) { 

            width: 100%;
            background-position: center;
            margin: 0 0 10px 30px;
         }

    }

    &.red {  border: solid 1px rgba(255, 54, 54, 0.15);
		
		&:before { background: url(/images/bv_vajno.png) no-repeat top; }
	}

   .vnimanie-block {

        display: inline-block;
        width: calc(100% - 130px);
        font: 18px/1.56 $font-serif;
   		color: $color2;
   		padding: 0 32px;
  
        @media screen and (max-width: 1023px) { 

            display: block;
            width: 100%;
            padding-left: 30px;
            padding-top: 30px;
            text-align: center;
        }
    }

    @media screen and (max-width: 1023px) { 
        
        flex-wrap: wrap;
        text-align: center;
    } 
}

.advert { padding: 10px 0; }

