<div vocab="http://schema.org/" typeof="BreadcrumbList" class="breadcrumb">
	<span property="itemListElement" typeof="ListItem">
		<a property="item" typeof="WebPage" title="Go to ProGastroMed." href="http://test.gribkostop.ru" class="home">
			<span property="name">Главная</span>
		</a>
		<meta property="position" content="1">
	</span> 
	<span property="itemListElement" typeof="ListItem">
		<a property="item" typeof="WebPage" title="Go to the Симптомы category archives." href="http://test.gribkostop.ru/simptomy" class="taxonomy category">
			<span property="name">Болезни глаз</span>
		</a>
		<meta property="position" content="2">
	</span> 
	<span property="itemListElement" typeof="ListItem">
		<a property="item" typeof="WebPage" title="Go to the Понос category archives." href="http://test.gribkostop.ru/simptomy/ponos" class="taxonomy category">
			<span property="name">У детей</span>
		</a>
		<meta property="position" content="3">
	</span> 
	<span property="itemListElement" typeof="ListItem">
		<span property="name">Лечение конъюнктивита глаз у детей до 1 года препаратами</span>
		<meta property="position" content="4">
	</span>
</div>