<footer>
	<div class="widget-area">
		<section class="widget widgetheadings">
				<span class="widgettitle">Рубрики сайта</span>
			<div class="widget-content headings-list-footer">
				<a href="" class="heading-list-link link-footer">Миопия</a>
				<a href="" class="heading-list-link link-footer">Болезни век</a>
				<a href="" class="heading-list-link link-footer">Конъюнктивит</a>
				<a href="" class="heading-list-link link-footer">Сетчатка глаза</a>
				<a href="" class="heading-list-item link-footer">Коррекция зрения</a>
				<a href="" class="heading-list-link link-footer">Линзы</a>
				<a href="" class="heading-list-link link-footer">Гимнастика для глаз</a>
				<a href="" class="heading-list-link link-footer">Симптомы</a>
				<a href="" class="heading-list-link link-footer">Круги и мешки под глазами</a>
				<a href="" class="heading-list-link link-footer">Травмы</a>	
			</div>	
		</section>
		<section class="widget widgetpopular">
			<span class="widgettitle">Популярное</span>
			<div class="widget-content popular-list-footer">
				<div class="wrapper-popular-list-item">
					<img class="popular-list-picture" src="../images/plugs/pop_futer1.jpeg" alt="">
					<a class="popular-list-link link-footer">
						Лечение конъюнктивита глаз у детей до 1 года препаратами и... народными методами
					</a>
				</div>
				<div class="wrapper-popular-list-item">
					<img class="popular-list-picture" src="../images/plugs/pop_futer2.jpeg" alt="">
					<a class="popular-list-link link-footer">
						Лечение конъюнктивита у новорожденных детей
					</a>
				</div>
				<div class="wrapper-popular-list-item">
					<img class="popular-list-picture" src="../images/plugs/pop_futer3.jpeg" alt="">
					<a class="popular-list-link link-footer">
						Лечение конъюнктивита у детей в 2 года
					</a>
				</div>
				<div class="wrapper-popular-list-item">
					<img class="popular-list-picture" src="../images/plugs/pop_futer4.jpeg" alt="">
					<a class="popular-list-link link-footer">
						Что делать, если болят глаза от работы за компьютером?
					</a>
				</div>
			</div>
		</section>
		<section class="widget widgetrecords">
			<span class="widgettitle">Свежие записи</span>
			<div class= "widget-content records-fresh-list">
				<a href="" class="records-fresh-list-link link-footer">
					Лечение конъюнктивита глаз у детей до 1 года препаратами и народными методами
				</a>
				<a href="" class="records-fresh-list-link link-footer">
					Лечение конъюнктивита у детей в 2 года
				</a>	
				<a href="" class="records-fresh-list-link link-footer">
					Что делать, если болят глаза от работы за компьютером?
				</a>	
				<a href="" class="records-fresh-list-link link-footer">
					Лечение конъюнктивита у новорожденных детей
				</a>	
				<a href="" class="records-fresh-list-link link-footer">
					Что делать, если болят глаза от работы за компьютером?
				</a>	
				<a href="" class="records-fresh-list-link link-footer">
					Лечение конъюнктивита глаз у детей до 1 года препаратами и народными методами
				</a>
			</div>			
		</section>
	</div>
	<div class="footer-bottom">
		<span class="copyright">
			Copyright &#169; 2015-18 DrVision.ru
		</span>
		<div class="menu-list-horizontal">
			<a href="" class="link-menu-footer">Главная</a>
			<a href="" class="link-menu-footer">О сайте</a>
			<a href="" class="link-menu-footer">Контакты</a>
			<a href="" class="link-menu-footer">Карта сайта</a>	
		</div>	
	</div>
</footer>
<script src="/js/TogglerOpenClose.min.js"></script>
