 <aside class="widget-area small-area">
    <section class="widget">
        <span class="widgettitle">Другое</span>
        <div class="widget-content largepicture-block">
            <article class="wrapper-block">
                <img  src="../images/plugs/new3.jpeg" alt="">
                <a class="link-page">
                    Что делать, если болят глаза от работы за компьютером?
                </a>
            </article>
            <article class="wrapper-block">
                <img  src="../images/plugs/prof4.jpeg" alt="">
                <a class="link-page">
                    Промывание глаз при конъюнктивите у детей
                </a>
            </article>
        </div>
    </section>
    <a class="asadvert-aside" href="">
        <img src="../images/plugs/reclama2.jpeg" class="picture-aside"  alt="">
    </a>
    <section class="widget">
        <span class="widgettitle">Еще по теме</span>
        <div class="widget-content smallpicture-block">
            <article class="wrapper-block">
                <label class="label">1</label>
                <img  src="../images/plugs/image1.jpeg" alt="">
                <a class="link-page">
                    Что делать, если болят глаза от работы за компьютером?
                </a>
            </article>
            <article class="wrapper-block">
                <label class="label">2</label>
                <img  src="../images/plugs/image3.jpeg" alt="">
                <a class="link-page">
                    Подбираем очки в зависимости от формы лица и цветотипа
                </a>
            </article>
            <article class="wrapper-block">
                <label class="label">3</label>
                <img src="../images/plugs/image4.jpeg" alt="">
                <a class="link-page">
                    Симптомы и лечение конъюнктивита у ребенка в 3 года
                </a>
            </article>
            <article class="wrapper-block">
                <label class="label">4</label>
                <img  src="../images/plugs/image4.jpeg" alt="">
                <a class="link-page">
                    Все про глаукому глаз
                </a>
            </article>
            <article class="wrapper-block">
                <label class="label">5</label>
                <img  src="../images/plugs/image4.jpeg" alt="">
                <a class="link-page">
                    Промывание глаз при конъюнктивите у детей
                </a>
            </article>
        </div>
    </section>
    <section class="widget">
        <span class="widgettitle">Свежие комментарии</span>
        <div class="widget-content short-items">
            <article class="row-item">
                <span class="content-item">
                    Воспаление конъюнктивальной оболочки возникает из-за некачественного ухода за
                </span>
                <div class="wrapp-link">
                    <span class="location left">статья</span>
                    <a href="" class="link-item float">
                        Восстановление зрения методом профессора Жданова
                    </a>
                </div>
             </article>
             <article class="row-item">
                <span class="content-item">
                    Существуют разные виды заболевания, которые проявляются 
                </span>
                <div class="wrapp-link">
                    <span class="location left">статья</span>
                    <a href="" class="link-item float">
                       Как и чем лечить конъюнктивит у новорожденных
                    </a>
                </div>
             </article>
             <article class="row-item">
                <span class="content-item">
                    Хламидийная форма заболевания проявляется через 5 – 10 дней источником ав апап пппппррррр... 
                </span>
                <div class="wrapp-link">
                    <span class="location left">статья</span>
                    <a href="" class="link-item float">
                        Подбираем очки в зависимости от формы лица и цветотипа
                    </a>
                </div>
             </article>
             <article class="row-item">
                <span class="content-item">
                    Хламидийная форма заболевания проявляется через 5 – 10 дней ав апап пппппррррр
                </span>
                <div class="wrapp-link">
                    <span class="location left">статья</span>
                    <a href="" class="link-item float">
                        Подбираем очки в зависимости от формы лица и цветотипа
                    </a>
                </div>
             </article>
        </div>
    </section>
    <a class="asadvert-aside" href="">
        <img src="../images/plugs/reclama2.jpeg" class="picture-aside"  alt="">
    </a>
    <div class="top-buttom"></div>
</aside>
