@import 'imports/normalize.scss';
@import 'imports/header.scss';
@import 'imports/footer.scss';
@import 'imports/sidebar.scss';
@import 'imports/breadcrumbs.scss';
@import 'imports/wrapper-content.scss';
@import 'imports/widget-area-article.scss';
@import 'imports/index.scss';

body { 

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font: 16px $font-sans;
    color: $color2;
}

main  {

	width: 1060px;
	margin: 0 auto;
}

a {

 display: block;
 cursor: pointer;

}

img {

    height: auto;
    max-width: 100%;
    width: auto;
    vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family:  $font-serif;
    line-height: 1.38;
    color: #003666;
    padding: 9px 0 20px;
    margin: 0px 0 8px;
    position: relative;

    &:before {

        content: "";
        width: 70px;
        border-bottom: 4px solid $color;
        position: absolute;
        bottom: 0;
    }

}

h1 { 

	font-size: 32px;
    padding: 22px 0 23px;
    margin: 0 0 40px;
}

h2 { font-size: 24px; }

h3 { font-size: 20px; }

h4 { font-size: 18px; }

h5, h6 { font-size: 16px; }

.site-content { 

	display: flex;
	width: 100%;
	max-width: 1060px;
	justify-content: space-between;
	margin: 0 auto; 
}

.main-content {
    
    width: 100%;
    flex-grow: 1;
	max-width: 700px;
    padding-top: 27px; 
    margin: 0; 

}

.widgettitle {

    width: 100%;
    min-height: 50px;
    display: block;
    font: 18px/1.33 $font-serif;
    font-weight: bold;
    background-color: $color;
    color: $color-white;
    padding: 11px 21px;     

    &:after {

        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url(../images/blueberries_white.png) no-repeat center;
        background-size: cover;
        vertical-align: middle;
        float: right;
    }
}

.large-area  .widgettitle {

        min-height: 60px;
        background: none;
        border: solid 1px #f6f9ff;
        color: rgba(59, 92, 123, 0.75);
}

.flex-row {

    display: flex;
    flex-wrap: wrap;
}

.link-page { position: relative; }

.largepicture-block {

    margin-bottom: 27px;
    padding-bottom: 31px;
   
    .wrapper-block {
    
        flex-basis: calc(100%/3);
        margin: 0 auto ;

        img {

            width: 100%;
            height: 133px;
            display: block;
        }

        .link-page {
           
            font: 14px/1.57 $font-serif;
            color: $color2; 
            border: solid 1px #f6f9ff;
            border-top: 0;
            border-right: 0;
            padding: 9px 20px;

            &:last-child { border-right: solid 1px #f6f9ff; }

            &:before {

                content: "";
                position: absolute;
                left: 20px;
                top: -17px; 
                border: 9px solid transparent; 
                border-bottom: 9px solid $color-white;
                transition: 0.5s;
            } 

            &:hover {

                background-color: $color;
                color: $color-white;
                border: solid 1px  $color;
                border-top: 0;

                 &:before { border-bottom-color: $color; }
            }
        }
    }
}

.smallpicture-block {

    .wrapper-block {

        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        border-bottom: 1px solid #fff;
        margin: 23px 0 0 20px;
        padding-bottom: 21px;

        img {

            width: 80px;
            height: 60px;
            align-self: flex-start;
            flex-shrink: 0;
         
        }

        .label {

            position: absolute;
            top: 0;
            left: 0;
            background-color: $color;
            font: 14px/1.43 $font-serif;
            color: $color-white;
            padding: 0 6px;
        }
    }

    .link-page {

        font: 16px/1.28 $font-serif;
        color: rgba(59, 92, 123, 0.8);
        margin: 0px 20px;
        column-width: 150px;
        max-height: 65px;
        overflow: hidden;

        &:hover { color: rgb(59, 92, 123); }
    }
}

.column.smallpicture-block .wrapper-block {
	
	flex-basis: calc(100%/2 - 20px);
	border-bottom: 0;
	align-items: flex-start;
	margin: 20px 0 0 20px;
	padding-bottom: 0px;

    	img { 

	    	width: 70px;
	 		height: 70px;
		}

		.link-page {
			  
			font-size: 14px;
 			max-height: 73px;
 			color: rgba(59, 92, 123, 0.8);
 			text-decoration: none;

 			&:hover { color: $color2; }
		}
}

.short-items { margin-bottom: 30px;

	.row-item {

	    border-bottom: 1px solid rgba(182, 219, 255, 0.15);
	    padding: 20px 20px 16px;
	}

	.content-item {

		display: block;
	    font: 16px/1 $font-serif;
	    color: $color2;
	    column-width: 210px;
		max-height: 50px;
		overflow: hidden;
	}

	.wrapp-link {

   		line-height: 10px;
        padding-top: 4px;
	}

	.location, .link-item {
	  
	  display: inline-block;
	  font: 14px/1.14 $font-serif;
	  color: rgba(59, 92, 123, 0.7);
	}

	.location:after {

		content: "\f105";
		display: inline-block;
		font-family: $icomoon;
		font-size: 12px;
	  	color: $color;
	  	padding: 0px 4px 0px;
		vertical-align: middle;
	}

	.link-item { display: inline;

		&:hover { color: rgba(0, 142, 206, 0.7);}
	}

}